/* GNU FreeFont */

/* FreeSerif */
@font-face {
    font-family: 'FreeSerif';
    src: url('fonts/FreeSerif.woff2') format('woff2'),
         url('fonts/FreeSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('fonts/FreeSerifBold.woff2') format('woff2'),
         url('fonts/FreeSerifBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('fonts/FreeSerifItalic.woff2') format('woff2'),
         url('fonts/FreeSerifItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('fonts/FreeSerifBoldItalic.woff2') format('woff2'),
         url('fonts/FreeSerifBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* FreeSans */
@font-face {
    font-family: 'FreeSans';
    src: url('fonts/FreeSans.woff2') format('woff2'),
         url('fonts/FreeSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSans';
    src: url('fonts/FreeSansBold.woff2') format('woff2'),
         url('fonts/FreeSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSans';
    src: url('fonts/FreeSansOblique.woff2') format('woff2'),
         url('fonts/FreeSansOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSans';
    src: url('fonts/FreeSansBoldOblique.woff2') format('woff2'),
         url('fonts/FreeSansBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* FreeMono */
@font-face {
    font-family: 'FreeMono';
    src: url('fonts/FreeMono.woff2') format('woff2'),
         url('fonts/FreeMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeMono';
    src: url('fonts/FreeMonoBold.woff2') format('woff2'),
         url('fonts/FreeMonoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeMono';
    src: url('fonts/FreeMonoOblique.woff2') format('woff2'),
         url('fonts/FreeMonoOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreeMono';
    src: url('fonts/FreeMonoBoldOblique.woff2') format('woff2'),
         url('fonts/FreeMonoBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
